.App {
  background: #fff;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.Toolbar {
  min-width: 100%;
  height: 46px;
  background: #eee;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
/*
v1 https://www.layoutit.com/grid/nbYXBXy
v2 https://www.layoutit.com/grid/VYFf3mN 
v3 https://www.layoutit.com/grid/sZbfGUf
v4 https://www.layoutit.com/grid/LwFNcc0
*/
.Chart {
  font-size: 11px;
  font-family: sans-serif;
  user-select: none;
  min-width: 100%;
  min-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  grid-gap: 2px;
  display: grid;
  grid-template-columns: 100px 1fr 4fr 1fr 100px;
  grid-template-rows: 46px 1fr 4fr 1fr 46px;
  grid-template-areas: 'chart-header chart-header chart-header chart-header chart-header' 'attribute-header corner-top-left margin-top corner-top-right canvas-header' 'attribute margin-left line-chart margin-right margin-right' '. corner-bottom-left margin-bottom corner-bottom-right .' 'chart-footer chart-footer chart-footer chart-footer chart-footer';
}

.Chart > div {
  border: 1px solid #eee;
}

.line-ink {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
  opacity: 0.5;
  pointer-events: none;
}

.line-shadow {
  fill: none;
  stroke: #ccc;
  stroke-width: 7;
  opacity: 0;
}

.ink-over {
  opacity: 0.8;
}

.ink-hide {
  opacity: 0.1;
}

.shadow-over {
  opacity: 0.5;
}

.ink-pressed {
  opacity: 1;
  stroke-width: 2;
}

.dot-ink {
  stroke: none;
  fill: #ccc;
  r: 3;
  opacity: 0.5;
  pointer-events: none;
}

.attribute-label {
  padding: 0 6px;
  height: 20px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

#line-chart {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.y-axis-drop-box {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: -10px;
  top: -10px;
}

.x-axis-drop-box {
  position: absolute;
  width: 0;
  height: 0;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0 0 30px 30px;
  border-color: transparent;
}
.entity-drop-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
}

.entity-wrapper {
  overflow-y: scroll;
}

#margin-right {
  position: relative;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  overflow: auto;
}

.entity-wrapper > div:hover {
}

#line-chart {
  width: 100%;
  /* display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 80px;
  grid-template-areas: 'y-axis line' '. x-axis';
  grid-area: line-chart; */
}
#line {
  grid-area: line;
}
#y-axis {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'y-axis-title y-axis-labels y-axis-ticks';
  grid-area: y-axis;
}
#x-axis {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 'x-axis-ticks' 'x-axis-labels' 'x-axis-title';
  grid-area: x-axis;
}

svg {
  width: 100%;
  height: 100%;
}
#line-chart {
  grid-area: line-chart;
}
#margin-top {
  grid-area: margin-top;
}
#margin-right {
  grid-area: margin-right;
}
#corner-top-right {
  grid-area: corner-top-right;
}
#corner-top-left {
  grid-area: corner-top-left;
}
#margin-left {
  grid-area: margin-left;
}
#margin-bottom {
  grid-area: margin-bottom;
}
#corner-bottom-left {
  grid-area: corner-bottom-left;
}
#corner-bottom-right {
  grid-area: corner-bottom-right;
}
#attribute-header {
  grid-area: attribute-header;
}
#canvas {
  grid-area: canvas;
}
#canvas-header {
  grid-area: canvas-header;
}
#chart-header {
  grid-area: chart-header;
}
#chart-footer {
  grid-area: chart-footer;
}
#attribute {
  grid-area: attribute;
}

#attribute div:hover {
  background: #256dbd;
  color: #fff;
  opacity: 0.9;
  cursor: grab;
}
#canvas {
  display: flex;
  overflow: auto;
}
.string-attr,
.histogram-attr,
.stackedbar-attr {
  width: 100px;
}
.string-attr:hover,
.histogram-attr:hover,
.stackedbar-attr:hover {
  background: #256dbd;
  color: #fff;
  opacity: 0.9;
}
.string-attr > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  cursor: default;
}
#overlay,
#tooltip {
  display: none;
  position: absolute !important;
}
.preview {
  display: initial !important;
  position: absolute;
  background: #ccc5;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

#margin-bottom {
  display: flex;
  flex-direction: column;
}
.margin-bottom-partition {
  height: 25px;
  background: #eee5;
  display: flex;
}
.margin-bottom-partition div {
  height: 25px;
  background: #eee;
  margin-right: 1px;
}
.margin-bottom-partition div:hover {
  background: #256dbd;
  color: #fff;
  opacity: 0.9;
}
#margin-left {
  display: flex;
  flex-direction: row;
}
.margin-left-partition {
  width: 25px;
  background: #eee5;
  display: flex;
  flex-direction: column;
}
.margin-left-partition div {
  width: 25px;
  background: #eee;
  margin-bottom: 1px;
}
.margin-left-partition div:hover {
  background: #256dbd;
  color: #fff;
  opacity: 0.9;
}
#tooltip {
  top: 25%;
  left: 40%;
}
